@font-face {
    font-family: "PixelFont";
    src: url("./assets/fonts/Roboto.ttf") format("truetype");
    font-display: swap;
}

:root {
    --font-ui: "Roboto", sans-serif;
    font-family: monospace;
}

html,
body,
button,
input,
select,
textarea {
    font-family: var(--font-ui);
    font-family: monospace;
}