/* Container positioned exactly on the absolute top-left chart corner */
.navigation {
    height: 100%;
    overflow: visible;
    display: flex;
    position: relative;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    align-items: start;
    justify-content: start;
    height: fit-content;
}


/* Square icon buttons inside panel */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    padding: 8px 15px;
    box-sizing: border-box;
}

/* GIỮ LẠI HOVER THEO YÊU CẦU */
.button:hover {
    background-color: rgba(40, 40, 45, 1);
}

.buttonActive {
    background-color: rgba(50, 100, 200, 1);
    border-color: #2563eb;
}

.buttonActive:hover {
    background-color: #2563eb;
}

.spliter {
    margin: 6px 0;
    height: 60%;
    width: 1px;
    background-color: rgb(100, 100, 100);
}

.popupPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(22, 22, 24, 1);
    border: 1px solid rgb(50, 50, 50);
    border-radius: 4px;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

.popupItem {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}
.popupItem:hover {
    background-color: rgba(40, 40, 45, 1);
}