.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px 5px;
    gap: 2px;
}

.PopupButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 3px 7px 3px 5px;
    flex: 1
}

.LeftContent {
    display: flex;
    align-items: center;
    gap: 6px;
}

.RightContent {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 10px;
}

.TagDot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    flex-shrink: 0;
}

.CreateRow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px 10px;
    font-weight: bold;
    width: 100%;
}

.Footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.SaveButton {
    padding: 3px 30px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    background-color: var(--bg-default);
    color: var(--color-default);
    transition: background-color 0.15s ease, color 0.15s ease;
}

.SaveButton:hover {
    background-color: var(--bg-hover);
    color: var(--color-hover);
}