.LastShapeButton {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 14px 5px 12px;
    gap: 5px;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 5px;
}


.Icon {
    width: 15px;
    height: 15px;

    fill: currentColor;
    color: inherit;
}

.ShapeRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    min-width: 200px;
}

.ShapeRowButton {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    flex: 1;
    text-align: left;
    color: currentColor;
    background-color: transparent;
    border: 0;
    font-size: 12px;
    font-weight: normal;
}

.TemplateButton {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
